In [119]:
# Import Dependencies
import pandas as pd
from pathlib import Path
import json

In [120]:
# Make a reference to the Chicago_Energy_Benchmarking_20240408.csv file path
csv_path = Path("Chicago_Energy_Benchmarking_20240408.csv")

# Import the Chicago_Energy_Benchmarking_202404.csv file as a DataFrame
df = pd.read_csv(csv_path, encoding="utf-8")

# Check the data imported correctly
df.head()

,Data Year,ID,Property Name,Reporting Status,Address,ZIP Code,Chicago Energy Rating,Exempt From Chicago Energy Rating,Community Area,Primary Property Type,...,Site EUI (kBtu/sq ft),Source EUI (kBtu/sq ft),Weather Normalized Site EUI (kBtu/sq ft),Weather Normalized Source EUI (kBtu/sq ft),Total GHG Emissions (Metric Tons CO2e),GHG Intensity (kg CO2e/sq ft),Latitude,Longitude,Location,Row_ID
0,2020,252064,Mansueto Library,Submitted Data,1100 E 57th St,60637,2.0,False,HYDE PARK,Library,...,240.8,323.6,246.0,329.9,1160.9,18.1,41.792213,-87.599950,"(41.79221307, -87.59994981)",2020-252064
1,2020,232458,Harper Square Cooperative,Submitted Data,4800 - 4850 S Lake Park Ave,60615,1.0,False,KENWOOD,Multifamily Housing,...,95.5,146.0,100.3,150.7,4871.7,7.8,41.807475,-87.591264,"(41.80747487, -87.59126397)",2020-232458
2,2020,254616,Former Coyne College,Submitted Data,330 N Green St,60607,2.0,False,NEAR WEST SIDE,Office,...,55.5,148.3,56.7,151.8,4581.4,8.2,41.873335,-87.651021,"(41.873335, -87.65102071)",2020-254616
3,2020,103812,400 W Superior St,Submitted Data,400 W Superior St,60654,3.0,False,NEAR NORTH SIDE,Office,...,61.4,151.8,63.0,154.8,1092.1,8.4,41.895752,-87.638901,"(41.89575232, -87.638901)",2020-103812
4,2020,254073,Blue Moon Lofts,Submitted Data,215 N. Aberdeen St.,60607,4.0,False,NEAR WEST SIDE,Multifamily Housing,...,29.4,64.9,29.6,64.3,295.8,3.6,41.874295,-87.650175,"(41.87429514, -87.65017516)",2020-254073

In [121]:
# Remove unnecessary columns from the DataFrame and save the new DataFrame
# Only keep: "Data Year", "ID", "Property Name", "Address", "Chicago Energy Rating", "Exempt From Chicago Energy Rating",
#"Community Area", "Primary Property Type", "Gross Floor Area - Buildings (sq ft)", "Year Built", "Electricity Use (kBtu)",
# "Natural Gas Use (kBtu)","Site EUI (kBtu/sq ft)", "Source EUI (kBtu/sq ft)", "Weather Normalized Site EUI (kBtu/sq ft)",
# "Weather Normalized Source EUI (kBtu/sq ft)", "Total GHG Emissions (Metric Tons CO2e)", "GHG Intensity (kg CO2e/sq ft)", 
# "Latitude", "Longitude", 

reduced_df = df[["Data Year", "ID", "Property Name", "Address", "Chicago Energy Rating", "Exempt From Chicago Energy Rating",
"Community Area", "Primary Property Type", "Gross Floor Area - Buildings (sq ft)", "Year Built", "Electricity Use (kBtu)",
 "Natural Gas Use (kBtu)","Site EUI (kBtu/sq ft)", "Source EUI (kBtu/sq ft)", "Weather Normalized Site EUI (kBtu/sq ft)",
 "Weather Normalized Source EUI (kBtu/sq ft)", "Total GHG Emissions (Metric Tons CO2e)", "GHG Intensity (kg CO2e/sq ft)", 
 "Latitude", "Longitude"]]
reduced_df.head()

,Data Year,ID,Property Name,Address,Chicago Energy Rating,Exempt From Chicago Energy Rating,Community Area,Primary Property Type,Gross Floor Area - Buildings (sq ft),Year Built,Electricity Use (kBtu),Natural Gas Use (kBtu),Site EUI (kBtu/sq ft),Source EUI (kBtu/sq ft),Weather Normalized Site EUI (kBtu/sq ft),Weather Normalized Source EUI (kBtu/sq ft),Total GHG Emissions (Metric Tons CO2e),GHG Intensity (kg CO2e/sq ft),Latitude,Longitude
0,2020,252064,Mansueto Library,1100 E 57th St,2.0,False,HYDE PARK,Library,64028.0,2009.0,2384738.9,NaN,240.8,323.6,246.0,329.9,1160.9,18.1,41.792213,-87.599950
1,2020,232458,Harper Square Cooperative,4800 - 4850 S Lake Park Ave,1.0,False,KENWOOD,Multifamily Housing,627680.0,1974.0,16397682.8,43537490.6,95.5,146.0,100.3,150.7,4871.7,7.8,41.807475,-87.591264
2,2020,254616,Former Coyne College,330 N Green St,2.0,False,NEAR WEST SIDE,Office,555524.0,2019.0,28606427.7,2199940.1,55.5,148.3,56.7,151.8,4581.4,8.2,41.873335,-87.651021
3,2020,103812,400 W Superior St,400 W Superior St,3.0,False,NEAR NORTH SIDE,Office,130007.0,1998.0,6489281.3,1493523.2,61.4,151.8,63.0,154.8,1092.1,8.4,41.895752,-87.638901
4,2020,254073,Blue Moon Lofts,215 N. Aberdeen St.,4.0,False,NEAR WEST SIDE,Multifamily Housing,83000.0,1908.0,1614582.3,825006.6,29.4,64.9,29.6,64.3,295.8,3.6,41.874295,-87.650175

In [122]:
reduced_df["Data Year"].value_counts()

Data Year
2022    3613
2020    3582
2021    3550
2019    3438
2018    3430
2017    2797
2016    2717
2015    1521
2014     243
Name: count, dtype: int64

In [123]:
reduced_df["Primary Property Type"].value_counts()

Primary Property Type
Multifamily Housing                                 9923
K-12 School                                         2975
Office                                              2849
College/University                                   709
Hotel                                                601
Retail Store                                         401
Supermarket/Grocery Store                            360
Senior Care Community                                277
Mixed Use Property                                   275
Hospital (General Medical & Surgical)                221
Senior Living Community                              194
Residence Hall/Dormitory                             190
Strip Mall                                           184
Laboratory                                           179
Other                                                154
Medical Office                                       113
Other - Recreation                                   107
Worship Facility                                      95
Residential Care Facility                             79
Fitness Center/Health Club/Gym                        68
Library                                               60
Enclosed Mall                                         58
Performing Arts                                       56
Other - Mall                                          49
Wholesale Club/Supercenter                            48
Museum                                                48
Other - Specialty Hospital                            42
Financial Office                                      42
Other - Entertainment/Public Assembly                 39
Automobile Dealership                                 34
Movie Theater                                         25
Adult Education                                       23
Other - Public Services                               19
Other - Lodging/Residential                           19
Social/Meeting Hall                                   18
Courthouse                                            17
Outpatient Rehabilitation/Physical Therapy            17
Other - Education                                     16
Data Center                                           16
Prison/Incarceration                                  15
Bank Branch                                           14
Pre-school/Daycare                                    14
Convention Center                                     11
Repair Services (Vehicle, Shoe, Locksmith, etc.)      10
Lifestyle Center                                       7
Other - Services                                       7
Urgent Care/Clinic/Other Outpatient                    7
Ambulatory Surgical Center                             6
Indoor Arena                                           6
Not Available                                          6
Ice/Curling Rink                                       5
Distribution Center                                    2
Vehicle Dealership                                     2
Stadium (Open)                                         1
Commerce de détail                                     1
Food Service                                           1
Name: count, dtype: int64

In [124]:
# To aggregate Primary Property types into Building Sectors, first create lists that include the property types 
# for each building sector, with building sectors as names

office = ["Bank Branch", "Financial Office", "Office"]
multifamily_housing = ["Multifamily Housing"]
schools = ["K-12 School"]
healthcare = ["Ambulatory Surgical Center",  "Outpatient Rehabilitation/Physical Therapy", "Urgent Care", "Clinic", 
              "Other Outpatient", "Hospital (General Medical & Surgical)", "Medical Office", "Other - Specialty Hospital"]
college_university = ["College/University"]
lodging = ["Hotel", "Residential Care Facility", "Senior Care Community", "Residence Hall/Dormitory", 
           "Other - Lodging/Residential"]
retail = ["Automobile Dealership", "Enclosed Mall", "Other - Mall", "Lifestyle Center", "Strip Mall", "Retail Store", 
          "Supermarket/Grocery Store", "Wholesale Club/Supercenter", "Other - Services", "Repair Services"]

In [127]:
# Create an empty list to put the building sector results in
building_sectors = []

# use a for loop to create a list Building Sectors for each row
for type in reduced_df["Primary Property Type"]:
    if type in office:
        building_sectors.append("Office")
    elif type in multifamily_housing:
        building_sectors.append("Multifamily Housing")
    elif type in schools:
        building_sectors.append("K-12 Schools")
    elif type in healthcare:
        building_sectors.append("Healthcare")
    elif type in college_university:
        building_sectors.append("College/University")
    elif type in lodging:
        building_sectors.append("Lodging")
    elif type in retail:
        building_sectors.append("Retail")
    else:
        building_sectors.append("Other")


print(len(building_sectors))

w_sectors_df= reduced_df.assign(Building_Sector=building_sectors)

w_sectors_df.head()

24891

,Data Year,ID,Property Name,Address,Chicago Energy Rating,Exempt From Chicago Energy Rating,Community Area,Primary Property Type,Gross Floor Area - Buildings (sq ft),Year Built,...,Natural Gas Use (kBtu),Site EUI (kBtu/sq ft),Source EUI (kBtu/sq ft),Weather Normalized Site EUI (kBtu/sq ft),Weather Normalized Source EUI (kBtu/sq ft),Total GHG Emissions (Metric Tons CO2e),GHG Intensity (kg CO2e/sq ft),Latitude,Longitude,Building_Sector
0,2020,252064,Mansueto Library,1100 E 57th St,2.0,False,HYDE PARK,Library,64028.0,2009.0,...,NaN,240.8,323.6,246.0,329.9,1160.9,18.1,41.792213,-87.599950,Other
1,2020,232458,Harper Square Cooperative,4800 - 4850 S Lake Park Ave,1.0,False,KENWOOD,Multifamily Housing,627680.0,1974.0,...,43537490.6,95.5,146.0,100.3,150.7,4871.7,7.8,41.807475,-87.591264,Multifamily Housing
2,2020,254616,Former Coyne College,330 N Green St,2.0,False,NEAR WEST SIDE,Office,555524.0,2019.0,...,2199940.1,55.5,148.3,56.7,151.8,4581.4,8.2,41.873335,-87.651021,Office
3,2020,103812,400 W Superior St,400 W Superior St,3.0,False,NEAR NORTH SIDE,Office,130007.0,1998.0,...,1493523.2,61.4,151.8,63.0,154.8,1092.1,8.4,41.895752,-87.638901,Office
4,2020,254073,Blue Moon Lofts,215 N. Aberdeen St.,4.0,False,NEAR WEST SIDE,Multifamily Housing,83000.0,1908.0,...,825006.6,29.4,64.9,29.6,64.3,295.8,3.6,41.874295,-87.650175,Multifamily Housing

In [129]:
w_sectors_df["Building_Sector"].value_counts()

Building_Sector
Multifamily Housing    9923
Other                  5666
K-12 Schools           2975
Office                 2905
Lodging                1166
Retail                 1148
College/University      709
Healthcare              399
Name: count, dtype: int64

In [137]:
only_2022_df = w_sectors_df.loc[w_sectors_df["Data Year"]==2022,:]
only_2021_df = w_sectors_df.loc[w_sectors_df["Data Year"]==2021,:]
only_2020_df = w_sectors_df.loc[w_sectors_df["Data Year"]==2020,:]
print(f'"2020" ', only_2020_df["Building_Sector"].value_counts())
print(f'"2021" ', only_2021_df["Building_Sector"].value_counts())
print(f'"2022" ', only_2022_df["Building_Sector"].value_counts())

"2020"  Building_Sector
Multifamily Housing    1447
Other                   871
K-12 Schools            487
Office                  357
Retail                  145
Lodging                 123
College/University      107
Healthcare               45
Name: count, dtype: int64
"2021"  Building_Sector
Multifamily Housing    1420
Other                   763
K-12 Schools            536
Office                  383
Retail                  162
Lodging                 129
College/University      109
Healthcare               48
Name: count, dtype: int64
"2022"  Building_Sector
Multifamily Housing    1425
Other                  1222
Office                  335
K-12 Schools            315
Retail                  111
Lodging                  99
College/University       67
Healthcare               39
Name: count, dtype: int64

In [39]:
index_id_df = reduced_df.set_index("ID")
sorted_by_id_df = index_id_df.sort_values(by = "ID",ascending=False)
sorted_by_id_df.head(10)

,Data Year,Property Name,Address,Chicago Energy Rating,Exempt From Chicago Energy Rating,Community Area,Primary Property Type,Gross Floor Area - Buildings (sq ft),Year Built,Electricity Use (kBtu),Natural Gas Use (kBtu),Site EUI (kBtu/sq ft),Source EUI (kBtu/sq ft),Weather Normalized Site EUI (kBtu/sq ft),Weather Normalized Source EUI (kBtu/sq ft),Total GHG Emissions (Metric Tons CO2e),GHG Intensity (kg CO2e/sq ft),Latitude,Longitude
ID,,,,,,,,,,,,,,,,,,,
260184,2022,NaN,2728 N HAMPDEN CT,2.0,False,LINCOLN PARK,Multifamily Housing,170000.0,1970.0,3070202.6,12991299.7,114.7,158.8,109.9,152.7,1094.4,7.8,41.931520,-87.642130
260184,2019,Hampden Green Condominium Association,2728 N HAMPDEN CT,1.0,False,LINCOLN PARK,Multifamily Housing,140000.0,1970.0,3008319.5,15088700.2,129.3,NaN,NaN,NaN,NaN,NaN,41.922011,-87.654620
260184,2018,Hampden Green Condominium Association,2728 N Hampden Court,1.0,False,LINCOLN PARK,Multifamily Housing,140000.0,1970.0,3399112.9,16960300.0,145.4,195.2,145.4,195.2,1466.3,10.5,41.922011,-87.654620
260184,2020,NaN,2728 N HAMPDEN CT,2.5,False,LINCOLN PARK,Multifamily Housing,170000.0,1970.0,2978140.4,13088799.9,114.8,157.7,115.3,158.3,1160.0,8.3,41.922011,-87.654620
260184,2021,Hampden Green Condominium Association,2728 N HAMPDEN CT,1.5,False,LINCOLN PARK,Multifamily Housing,170000.0,1970.0,3055237.9,13403999.9,117.6,161.6,115.5,159.4,1148.3,8.2,41.922011,-87.654620
260184,2017,Hampden Green Condominium Association,2728 N Hampden Court,NaN,NaN,LINCOLN PARK,Multifamily Housing,140000.0,1970.0,3351635.0,13849600.0,122.9,179.0,125.3,181.6,1355.3,9.7,41.922011,-87.654620
260184,2016,Hampden Green Condominium Association,2728 N Hampden Court,NaN,NaN,LINCOLN PARK,Multifamily Housing,140000.0,1970.0,3480335.5,15273500.2,134.0,192.6,130.3,188.8,1452.7,10.4,41.922011,-87.654620
260150,2019,Cummings Life Science Center,920 E 58th St,2.0,False,HYDE PARK,Laboratory,172408.0,1973.0,30536785.8,17100.0,416.1,783.4,413.8,NaN,7815.5,45.3,41.789880,-87.602764
260150,2015,Cummings Life Science Center,920 E. 58th St.,NaN,NaN,HYDE PARK,Laboratory,172408.0,1973.0,43021021.0,NaN,561.2,1158.4,564.5,1157.6,12211.0,70.8,41.789880,-87.602764
260150,2018,Cummings Life Science Center,920 E. 58th St.,2.0,False,HYDE PARK,Laboratory,172408.0,1973.0,31171243.8,NaN,463.8,846.7,460.3,841.4,8425.2,48.9,41.789880,-87.602764

In [5]:
reduced_df.to_json('benchmarking.json', orient='records', lines=True)

reduced_df.to_csv("benchmarks.csv",
                  encoding="utf-8", index=False, header=True)

In [139]:
grouped_by_year_type = w_sectors_df.groupby(["Data Year","Building_Sector"])

median_by_year_type = pd.DataFrame(grouped_by_year_type[["Chicago Energy Rating",  "Gross Floor Area - Buildings (sq ft)", 
                                               "Weather Normalized Source EUI (kBtu/sq ft)", "Total GHG Emissions (Metric Tons CO2e)", 
                                               "GHG Intensity (kg CO2e/sq ft)"]].median())
median_by_year_type

                               Chicago Energy Rating  \
Data Year Building_Sector
2014      College/University                     NaN
          Healthcare                             NaN
          K-12 Schools                           NaN
          Office                                 NaN
          Other                                  NaN
...                                              ...
2022      Lodging                                2.5
          Multifamily Housing                    3.5
          Office                                 3.5
          Other                                  0.0
          Retail                                 3.0

                               Gross Floor Area - Buildings (sq ft)  \
Data Year Building_Sector
2014      College/University                               499204.0
          Healthcare                                       681807.0
          K-12 Schools                                     298432.0
          Office                                           698645.0
          Other                                           1008416.0
...                                                             ...
2022      Lodging                                          201402.0
          Multifamily Housing                              145338.0
          Office                                           272235.0
          Other                                             91300.0
          Retail                                           108610.0

                               Weather Normalized Source EUI (kBtu/sq ft)  \
Data Year Building_Sector
2014      College/University                                       209.50
          Healthcare                                               444.00
          K-12 Schools                                             142.00
          Office                                                   201.00
          Other                                                    250.00
...                                                                   ...
2022      Lodging                                                  186.35
          Multifamily Housing                                      119.65
          Office                                                   144.70
          Other                                                    182.60
          Retail                                                   220.00

                               Total GHG Emissions (Metric Tons CO2e)  \
Data Year Building_Sector
2014      College/University                                  6071.00
          Healthcare                                         17968.00
          K-12 Schools                                        2737.00
          Office                                              8846.00
          Other                                              19192.00
...                                                               ...
2022      Lodging                                             1836.15
          Multifamily Housing                                  769.85
          Office                                              1851.60
          Other                                               1079.40
          Retail                                              1159.50

                               GHG Intensity (kg CO2e/sq ft)
Data Year Building_Sector
2014      College/University                           12.80
          Healthcare                                   26.77
          K-12 Schools                                  8.60
          Office                                       12.85
          Other                                        15.37
...                                                      ...
2022      Lodging                                       9.10
          Multifamily Housing                           5.70
          Office                                        6.90
          Other                                         8.70
          Retail                                       10.60

[70 rows x 5 columns]

In [16]:
count_by_year_type = pd.DataFrame(grouped_by_year_type[["Chicago Energy Rating",  "Gross Floor Area - Buildings (sq ft)", 
                                               "Weather Normalized Source EUI (kBtu/sq ft)", "Total GHG Emissions (Metric Tons CO2e)", 
                                               "GHG Intensity (kg CO2e/sq ft)"]].count())

In [140]:
sum_by_year_type = pd.DataFrame(grouped_by_year_type[["Total GHG Emissions (Metric Tons CO2e)"]].sum())
sum_by_year_type

                               Total GHG Emissions (Metric Tons CO2e)
Data Year Building_Sector
2014      College/University                                 195804.0
          Healthcare                                         557634.0
          K-12 Schools                                        81392.0
          Office                                            1866504.0
          Other                                              432048.0
...                                                               ...
2022      Lodging                                            279928.3
          Multifamily Housing                               1756238.9
          Office                                            1151148.2
          Other                                              636469.9
          Retail                                             158373.4

[70 rows x 1 columns]

In [21]:
grouped_by_year = reduced_df.groupby(["Data Year"])

median_by_year = pd.DataFrame(grouped_by_year[["Chicago Energy Rating",  "Gross Floor Area - Buildings (sq ft)", 
                                               "Weather Normalized Source EUI (kBtu/sq ft)", "Total GHG Emissions (Metric Tons CO2e)", 
                                               "GHG Intensity (kg CO2e/sq ft)"]].median())

median_by_year
median_by_year.to_excel("medianjustyear.xlsx")

In [23]:
sum_by_year = pd.DataFrame(grouped_by_year[["Chicago Energy Rating",  "Gross Floor Area - Buildings (sq ft)", 
                                               "Weather Normalized Source EUI (kBtu/sq ft)", "Total GHG Emissions (Metric Tons CO2e)", 
                                               "GHG Intensity (kg CO2e/sq ft)"]].sum())

sum_by_year
sum_by_year.to_excel("sumjustyear.xlsx")

In [24]:
count_by_year = pd.DataFrame(grouped_by_year[["Chicago Energy Rating",  "Gross Floor Area - Buildings (sq ft)", 
                                               "Weather Normalized Source EUI (kBtu/sq ft)", "Total GHG Emissions (Metric Tons CO2e)", 
                                               "GHG Intensity (kg CO2e/sq ft)"]].count())

count_by_year
count_by_year.to_excel("countjustyear.xlsx")