In [13]:
# Import Modules
import os
import csv
import pathlib
import pandas as pd

#Set path for file and open the csv
csvpath = os.path.join('..', 'Chicago_Energy_Benchmarking_20240408.csv')

with open(csvpath) as csvfile:
    buildingenergydata = pd.read_csv(csvfile)

In [14]:
#Filter to just the Year, Property Name, and weather Normalized Source EUI and Total GHG Emissions columns

filtered_bedata = buildingenergydata[['Data Year', 'Property Name', 'Weather Normalized Source EUI (kBtu/sq ft)', 'Total GHG Emissions (Metric Tons CO2e)']]

#Rename columns
new_names = {'Data Year': 'Year',
             'Weather Normalized Source EUI (kBtu/sq ft)': 'Median Weather-Normalized Source Energy Use Intensity (kBTU/sq. ft.)',
             'Total GHG Emissions (Metric Tons CO2e)': 'Total Greenhouse Gas Emissions (Metric Tons of Co2e)'}

filtered_bedata = filtered_bedata.rename(columns=new_names)

In [15]:
# Create this table exclusively for several notable buildings
# Filter data for The Art Institute of Chicago exclusively for years 2016, 2018, 2020, and 2022
aic_data = filtered_bedata[filtered_bedata['Property Name'] == 'The Art Institute of Chicago']
aic_data = aic_data[aic_data['Year'].isin([2016, 2018, 2020, 2022])]

aic_data

,Year,Property Name,Median Weather-Normalized Source Energy Use Intensity (kBTU/sq. ft.),Total Greenhouse Gas Emissions (Metric Tons of Co2e)
3989,2016,The Art Institute of Chicago,453.0,25340.9
9417,2018,The Art Institute of Chicago,426.5,23960.3
16878,2020,The Art Institute of Chicago,390.1,20891.4
24107,2022,The Art Institute of Chicago,389.5,19068.8

In [16]:
#Filter data for City Hall exclusively for years 2016, 2018, 2020, and 2022

cityhall_data = filtered_bedata[filtered_bedata['Property Name'] == 'City Hall']
cityhall_data = cityhall_data[cityhall_data['Year'].isin([2016, 2018, 2020, 2022])]

cityhall_data

,Year,Property Name,Median Weather-Normalized Source Energy Use Intensity (kBTU/sq. ft.),Total Greenhouse Gas Emissions (Metric Tons of Co2e)
3671,2016,City Hall,313.9,7097.9
10664,2018,City Hall,284.8,6473.4
14651,2020,City Hall,255.1,5547.1
23960,2022,City Hall,253.9,5045.1

In [17]:
#Filter data for NU Chicago Campus exclusively for years 2016, 2018, 2020, and 2022

northwestern_data = filtered_bedata[filtered_bedata['Property Name'] == 'Northwestern University Chicago Campus']
northwestern_data = northwestern_data[northwestern_data['Year'].isin([2016, 2018, 2020, 2022])]

northwestern_data

,Year,Property Name,Median Weather-Normalized Source Energy Use Intensity (kBTU/sq. ft.),Total Greenhouse Gas Emissions (Metric Tons of Co2e)
2579,2016,Northwestern University Chicago Campus,581.1,71081.4
15349,2020,Northwestern University Chicago Campus,324.6,4055.1
21980,2022,Northwestern University Chicago Campus,351.0,3907.2

In [18]:
#Filter data for Swedish Covenant Hospital exclusively for years 2016, 2018, 2020, and 2022

swedishhospital_data = filtered_bedata[filtered_bedata['Property Name'] == 'Swedish Covenant Hospital Campus']
swedishhospital_data = swedishhospital_data[swedishhospital_data['Year'].isin([2016, 2018, 2020, 2022])]

swedishhospital_data

,Year,Property Name,Median Weather-Normalized Source Energy Use Intensity (kBTU/sq. ft.),Total Greenhouse Gas Emissions (Metric Tons of Co2e)
3051,2016,Swedish Covenant Hospital Campus,475.0,21859.7
9722,2018,Swedish Covenant Hospital Campus,445.5,20617.2
17506,2020,Swedish Covenant Hospital Campus,427.5,18719.4
21343,2022,Swedish Covenant Hospital Campus,412.3,15862.7